/*
Ref: https://zipso.net/a-simple-touchscreen-sketchpad-using-javascript-and-html5/
*/
.canvas {
    width:300px;
    height:300px;
    padding:10px 10px 0px 10px;
}
.buttons {
    padding: 0px 5px 5px 20px;
}
#digitpad-container{
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;  
}
#digitpad {
    border: solid 2px #888;
    border-radius:4px;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
    /*background-color: black;*/
}
.button {
    font-size: 14px;
    padding: 5px;
    margin: 3px;
}


/*
Security message: authentication, authorization message; used in many pages
*/
.security_msg {
  font-size: 25px;
  line-height: 1.0;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 20px 0 5px 3px;  
}

/*
prediction msg
*/
.prediction_msg {
  font-size: 20px;
  line-height: 1.1;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  margin: 10px 0 10px 15px;
}